<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Classroom Projects</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b> •	Interactive discussions between people and shaping social networks.</b> <br>
            <b>Supervisor:</b> Prof. Omid Fatemi <br>
            <b>Description:</b>  Creating high quality relationship between teacher and student as well as a more interactive environment in the moodle learning platform.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Privacy and Security Control in Big Data.</b> <br>
            <b> Supervisor:</b> Prof. Masoud Rahgozar <br>
            <b> Description:</b> Creating a security framework (antivirus) in G-Hadoop for big data computing in data centers.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Security Vulnerabilities and Challenges in Internet of Things. </b> <br>
            <b> Supervisor:</b> Prof. Naser Yazdani<br>
            <b> Description:</b> I attempted to examine the security and objectives of the Internet of Things, and then provided a new classification of different types of attacks and countermeasures in security and privacy.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Reducing the Storage Overhead of Main-Memory OLTP Databases with Hybrid Indexes.</b> <br>
            <b> Supervisor:</b> Prof. Masoud Rahgozar <br>
            <b> Description:</b> To minimize this additional workload, our suggestion is to implement a two-stage index. In the initial stage, all incoming entries are processe swiftly for efficient read and write operations. Periodically, the index transfers entries from the first stage to the second stage, which employs a more condensed data structure optimized for reading.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Comparison of maximum matching algorithms. </b> <br>
            <b> Supervisor:</b> Prof. Behnam Bahrak <br>
            <b> Description:</b> I analyzed and compared three algorithms:  Hungarian, hopcraft-karp, and Blossom.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
