<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Classroom Projects</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b> •	Research Assistant / Graduate Researcher | University of Tehran</b> <br>
            <b>Supervisor:</b> Prof. Behnam Bahrak <br>
            <b>Description:</b>  Investigated privacy vulnerabilities in Cognitive Radio Networks (CRNs) by simulating location inference attacks on Geolocation Databases (GDBs) using Maximum Transmit Power (MTP) responses.
            Developed a Bayesian recursive tracking framework (Particle Filtering) and supervised Machine Learning models (ANNs, SVMs) to evaluate spatial profiling threats, achieving high localization accuracy.
            Designed and implemented a Differential Privacy (DP) framework using calibrated Laplace noise to mitigate location inference attacks, increasing adversary RMSE to >50 meters while maintaining spectrum efficiency.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b> •	Interactive discussions between people and shaping social networks.</b> <br>
            <b>Supervisor:</b> Prof. Omid Fatemi <br>
            <b>Description:</b>  Developed solutions to foster high-quality teacher-student relationships and engineered a more interactive and engaging learning environment within the Moodle platform.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Privacy and Security Control in Big Data.</b> <br>
            <b> Supervisor:</b> Prof. Masoud Rahgozar <br>
            <b> Description:</b> Designed and developed a security framework (antivirus) integrated within G-Hadoop to secure big data computing processes and architectures in data centers.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Security Vulnerabilities and Challenges in Internet of Things. </b> <br>
            <b> Supervisor:</b> Prof. Naser Yazdani<br>
            <b> Description:</b> Investigated core security objectives of IoT networks and proposed a novel classification framework for identifying various cyber-attacks along with corresponding privacy and security countermeasures.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Reducing the Storage Overhead of Main-Memory OLTP Databases with Hybrid Indexes.</b> <br>
            <b> Supervisor:</b> Prof. Masoud Rahgozar <br>
            <b> Description:</b> Proposed and modeled a two-stage indexing architecture to minimize workload overhead. Designed an initial tier for rapid read/write processing and a secondary tier featuring a highly condensed data structure optimized for periodic batch reading.
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <b>•	Comparison of maximum matching algorithms. </b> <br>
            <b> Supervisor:</b> Prof. Behnam Bahrak <br>
            <b> Description:</b> Conducted a comprehensive analysis and benchmarking of three prominent graph matching algorithms: Hungarian, Hopcroft-Karp, and Edmonds’ Blossom algorithm.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
