<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>References</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •<b style="color: orangered">  Farhad Rahmati</b>, Associate Professor of Department of Mathematics and Computer Science, Amirkabir University of Technology (AUT)
            <br>
            <b>Email: </b> <a href="mailto:frahmati@aut.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=3HnxAFMAAAAJ&view_op=list_works&sortby=pubdate"><i  class="fa fa-google-scholar"></i></a><br>
            <b>Website:  </b> <a href="https://aut.ac.ir/cv/2166/FARHAD%20RAHMATI"><i  class="fa fa-globe"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b style="color: orangered">  Adel Mohammadpour</b>, Associate Professor of Department of Mathematics and Computer Science, Amirkabir University of Technology (AUT)            <br>
            <b>Email: </b> <a href="mailto:adel@aut.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?user=I3dBu_cAAAAJ&hl=en"><i  class="fa fa-google-scholar"></i></a><br>
            <b>Website:  </b> <a href="https://aut.ac.ir/cv/2026/Adel%20Mohammadpour"><i  class="fa fa-globe"></i></a>          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b style="color: orangered">  Esfandyar Mohammadi</b>, Associate Professor of the Department of Business Management, Ilam University            <br>
            <b>Email: </b> <a href="mailto:e.mohamadi@ilam.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=DVe-HFMAAAAJ"><i  class="fa fa-google-scholar"></i></a><br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b style="color: orangered">  Behrooz Mansouri</b>, Assistant Professor of Department of Computer Science, University of Southern Maine (USM)
            <br>
            <b>Email: </b> <a href="mailto:behrooz.mansouri@maine.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=oehyd3wAAAAJ"><i  class="fa fa-google-scholar"></i></a><br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/behroozmansouri/"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •<b style="color: orangered">  MohammadReza Taheri</b>, Research Assistant Professor of Nanotechnology and Quantum Computing Lab, Shahid Beheshti University (SBU)
            <br>
            <b>Email: </b> <a href="mailto:moh_taheri@sbu.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=zzm6rGwAAAAJ&view_op=list_works&sortby=pubdate"><i  class="fa fa-google-scholar"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b style="color: orangered"> Hadi Pouladi</b>, PhD Holder from Department of Mathematics and Computer Science, University of Zanjan
            <br>
            <b>Email: </b> <a href="mailto:hadi.pouladi@znu.ac.ir"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=gomhiDQAAAAJ"><i  class="fa fa-google-scholar"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b style="color: orangered"> Mostafa Mirabi</b>, PhD Holder from Department of Mathematics and Computer Science, Wesleyan University
            <br>
            <b>Email: </b> <a href="mailto:mmirabi@wesleyan.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Website:  </b> <a href="https://sites.google.com/site/mostafamirabi/"><i  class="fa fa-globe"></i></a>  <br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/mostafa-mirabi-ph-d-32880418a/"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b style="color: orangered"> Dariush Salami</b>, Radio Research Scientist at Nokia Bell Labs, Aalto University
            <br>
            <b>Email: </b> <a href="mailto:dariush.salami@nokia-bell-labs.com"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=2qLccZsAAAAJ"><i  class="fa fa-google-scholar"></i></a><br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/dariush-salami/"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b style="color: orangered"> Mahdi Hajiali</b>, PhD Holder from Department of Computer Science, University of Nevada, Las Vegas (UNLV)
            <br>
            <b>Email: </b> <a href="mailto:hajiali@unlv.nevada.edu"> <i  class="bi bi-envelope"></i></a> <br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/mahdihajiali/"><i  class="bi bi-linkedin"></i></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	<b style="color: orangered"> Farhad Vadiee</b>, PhD Candidate from Department of Computer Science, University of Bergen
            <br>
            <b>Email: </b> <a href="mailto:farhad.vadiee@uib.no"> <i  class="bi bi-envelope"></i></a> <br>
            <b>Google Scholar: </b> <a href="https://scholar.google.com/citations?hl=en&user=RktHIgcAAAAJ"><i  class="fa fa-google-scholar"></i></a><br>
            <b>LinkedIn: </b> <a href="https://www.linkedin.com/in/farhad-vadiee/"><i  class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
