<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <div class="profile-header">
          <img class="profile-photo" src="assets/images/Capture.jpg" alt="Portrait of Saman Zameni" width="180" height="180">
          <div class="profile-info">
            <h2 class="profile-name">Saman Zameni</h2>
            <p class="profile-title">M.Sc. in Computer Engineering (Software), University of Tehran</p>
            <p class="profile-subtitle">Location Privacy · Cognitive Radio Networks · Machine Learning</p>
          </div>
        </div>
        <hr>
        <h3>Introduction</h3> <br>

        <p style="text-align: justify">
          Saman Zameni is a researcher in privacy-preserving wireless systems. He holds an M.Sc. in Computer Engineering (Software) from the University of Tehran and a B.Sc. in Mathematics and Computer Science from Amirkabir University of Technology.
        </p>
        <p style="text-align: justify">
          His research examines how the infrastructure behind dynamic spectrum sharing can leak sensitive information. In his master's thesis, supervised by Prof. Behnam Bahrak, he showed that the maximum transmit power responses of geolocation databases in cognitive radio networks can be exploited to track a mobile primary user, using particle filtering and supervised machine learning. Building on this work, he designed a differential privacy mechanism that adds calibrated Laplace noise to database responses, defeating these inference attacks while preserving spectrum efficiency.
        </p>
        <p style="text-align: justify">
          Alongside his research, Saman has worked in industry since 2018, first as a front-end developer building Angular applications and currently as a Software Test Engineer for core banking systems at Informatics Service Corporation. This experience grounds his interest in how data-driven systems are designed, deployed and secured in practice.
        </p>
        <p style="text-align: justify">
          He is currently seeking a fully funded PhD position in Computer Science or Information Systems, with a focus on data privacy, machine learning and wireless networks.
        </p>
        <br>
        <h3>Research Interests</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Data Privacy &amp; Differential Privacy
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Wireless Networks &amp; Dynamic Spectrum Access
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Machine Learning &amp; Deep Learning
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Big Data Analytics &amp; Data Mining
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
