<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Introduction</h3> <br>

        <p style="text-align: justify">
          Due to my father's background in Mathematics and Applications - Computers from the Sharif University of Technology, I developed a keen interest in Computer Science. This exposure at an early age allowed me to grasp the fundamentals of the field. As a result, I made the decision to pursue a bachelor's degree in Mathematics and Applications - Computer Science at Amirkabir University of Technology, a renowned institution in Iran. To further deepen my knowledge in Computer Science, I opted to pursue a master's degree in Computer Engineering - Software at Tehran University. Throughout my academic journey, I have remained dedicated to staying informed and engaged by conducting research, honing my software skills, and actively participating in various workshops. During the period between completing my master's degree and applying for a PhD, I engaged in computer-related tasks and focused on enhancing my English proficiency while also preparing my research article.
          <br>
          My academic journey and research experiences have sparked a deep interest in advancing knowledge within the realm of computer science. I have excelled in various courses, including Advanced Database Systems (GPA: 4), Special Topics in Database Systems (GPA: 4), Advanced Operating Systems (GPA: 4), and Principles of Software Design (GPA: 4), where I consistently showcased a solid understanding of complex concepts and their practical applications. These courses have not only enhanced my technical abilities but have also fueled my enthusiasm for delving into extensive research in computer science. Additionally, my exceptional GRE score of 332 and TOEFL score of 112 highlight my academic proficiency and preparedness to partake in challenging academic endeavors at the doctoral level.
          <br>
          In my Master's thesis, I concentrated on a project that employed Particle Filter and Machine Learning methodologies, culminating in the creation of an academic paper titled “The Significance of Privacy Concerns in Spectrum Sharing: A Study on Geo-Location Databases,” which is presently under review. Throughout my academic career, I have engaged in numerous projects that have greatly enhanced my scholarly growth. For instance, I have explored fields such as Machine Learning, the Internet of Things, and Big Data. Additionally, another notable academic pursuit was my paper titled “Trust, Satisfaction, Loyalty, and Perceived Value: Unraveling the Banking Industry Dynamics,” which is also currently under review.
          <br>
          In regards to my practical background, I have acquired substantial professional knowledge through my work at various organizations. Additionally, following the completion of my master's degree, I began my career in the professional realm. Initially, I commenced at Sindad Network Technology Company, where I held the position of a programmer within the IT division. Subsequently, I joined Delta Company and Didex Company as a Web Developer in the Front-End department. Presently, I am employed as a Software Test Engineer at Informatics Services Corporation. Collectively, my work experience has greatly contributed to the practical application of my theoretical knowledge.
          <br>
          I am highly motivated to further my studies in this area at a prestigious international university abroad in order to expand my knowledge and expertise. Given the rigorous nature of this discipline, I am eager to pursue a Doctoral degree. My long-term career goal is to become a leading researcher, focusing on cutting-edge technologies like artificial intelligence and machine learning. Obtaining a PhD will provide me with the necessary expertise, research skills, and network to achieve this goal. I aim to contribute to groundbreaking research, innovate in technology, and eventually pursue a career in academia to inspire future generations of researchers.
          <br>
          In terms of my personality, I perceive myself as an individual with exceptional organizational skills and a strong sense of discipline. I possess a deep thirst for knowledge and am constantly driven by curiosity to explore new concepts and theories, particularly within my area of study. Moreover, I am highly dedicated to my academic pursuits and consistently strive to be punctual and precise in my work. Furthermore, I possess excellent leadership abilities and excel in collaborative settings. I am adept at adapting to unfamiliar environments and interacting with individuals from diverse cultural and social backgrounds, all in pursuit of a common objective.
        </p>
        <br>
        <h3>Research Interests</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <b>Artificial Intelligence and Machine Learning</b>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Deep learning
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	Natural Language Processing
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Computer Vision
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Reinforcement Learning
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
