<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Practical Experiences</h3> <br>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Aug 2021- present</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Software Test Engineer, Chaapaar Co., Iran, Tehran.</b> <br>
            Responsibilities: The Company specializes in offering communication services that are email-based. I work in the software testing department, where I test and evaluate Web and Linux-based software created by our developers. My experience as a software test engineer has deepened my understanding of quality assurance and its critical role in business success. This role has honed my analytical skills and highlighted the importance of effective project management and user-centric design in achieving organizational goals.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Jan 2020- Jul 2021</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Front-End Web Developer, Delta Co., Iran, Tehran.</b> <br>
            Responsibilities: I worked at a company that focused on selling and renting real estate, where I was part of the front-end team. My job was to design and build websites for the business. My role as a front-end web developer has ignited my passion for understanding user experience and its impact on business outcomes. By bridging technology and consumer behavior, I recognize the need for strategic management in digital environments.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Feb 2019- Dec 2020</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Front-End Web Developer, Sindad Network Technology Co., Iran, Tehran.</b> <br>
            Responsibilities: The company focuses on IT services such as domain registration, server rentals, and web hosting. I work in the front-end department, where I create websites for the organization. As a front-end web developer, I have witnessed firsthand how technology shapes customer interactions and drives business success. This role has highlighted the importance of aligning technical solutions with business objectives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
