<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Practical Experiences</h3> <br>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Aug 2021- present</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Software Test Engineer, Chaapaar Co., Iran, Tehran.</b> <br>
            Responsibilities: The Company specializes in offering communication services that are email-based in Iran. I work in the software testing department, where I test and evaluate web and Linux-based software created by our developers. This role has really boosted my experience, particularly with tools like SQL, Selenium, and Jira.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Jan 2020- Jul 2021</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Front-End Web Developer, Delta Co., Iran, Tehran.</b> <br>
            Responsibilities: I worked at a company that focused on selling and renting real estate, where I was part of the front-end team. My job was to design and build websites for the business. I used tools like Angular, Python, HTML, and CSS, and managed projects with Jira while keeping track of changes with Git.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">Feb 2019- Dec 2020</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Front-End Web Developer, Sindad Network Technology Co., Iran, Tehran.</b> <br>
            Responsibilities: The company focuses on IT services such as domain registration, server rentals, and web hosting. I work in the front-end department, where I create websites for the organization. I used tools like Angular, HTML, CSS, Jira, and Git for my projects.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
