<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Practical Experiences</h3> <br>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">2021-present</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Software Test Engineer, FARASB(Chaapaar) Co., Iran, Tehran.</b> <br>
            Responsibilities: The Company focuses on providing services associated with computer system applications and holds the distinction of being the largest supplier of email communication services in Iran. My position within the software testing department, particularly with applications like SQL, Selenium, and Jira, has granted me considerable experience.          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">2020-2021</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Frontend Web Developer, Didex Co., Iran, Tehran.</b> <br>
            Responsibilities: The organization specialized in the conversion of cryptocurrencies, and I contributed to the Front-End development sector. My role involved the application of Angular, Python, HTML, and CSS, along with the use of Jira for project management and Git for version control to design and implement websites for the organization.          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">2019-2020</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Frontend Web Developer, Delta Co., Iran, Tehran.</b> <br>
            Responsibilities: The Company’s area of expertise encompassed the sale and rental of real estate, and I employed Angular, HTML, CSS, Jira, and Git in the front-end segment to design websites for the organization.          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="font-size: 12px">2018-2019</div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <b>Programmer, Sindad Network Technology Co., Iran, Tehran.</b> <br>
            Responsibilities: The organization specialized in domain, hosting, and server rental services. I initially began my career in the monitoring and network department, where I honed my skills. Subsequently, I transitioned to the Front-End team to design websites for the organization, where I delved into JavaScript programming.          </div>
        </div>
      </div>
    </div>
  </div>
</div>
