<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Skills</h3> <br>
        <b>Web Development</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	HTML</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	JavaScript</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Typescript</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	SCSS</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Angular 2+</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
        <br>
        <b>Programming Languages</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	SQL</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	MATLAB</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Python</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	R</div>
        </div>
        <br>
        <b>Front-End Frameworks</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•  Bootstrap</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Materialize CSS </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Foundation Zurb</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Angular Material
          </div>
        </div>
        <br>
        <b>Engineering and Development Tools</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•  MySQL</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Data Studio</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Latex</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Microsoft Office
          </div>
        </div>
        <br>
        <b>Project Management Software</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•  Git</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Jira </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Trello </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Swagger
          </div>
        </div>
        <br>
        <b>Library Software / Machine Learning</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•  TensorFlow</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Scikit-Learn </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	PyTorch </div>
          <div class="col-sm-6 col-md-6 col-lg-6">

          </div>
        </div>
        <br>
        <b>IDE</b> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•  IntelliJ</div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Visual Studio Code </div>
        </div>


      </div>
    </div>
  </div>
</div>
