:host{
  .body{
    background-color: #7091E6 !important;
    min-height: 85vh;
    border: 5px solid #ADBBDA;
    border-radius: 3%;
    margin: 20px;
    padding: 20px;
  }
  .text-model{
    text-align: center;
    line-height: 30px;
  }
  .box-css{
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color: #EDE8F5;
    padding: 40px;
    margin: 10% 0%;

  }
}
