<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Extracurricular Activities</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
            •	Fantasy Books
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Movies
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
            •	Karate (Kyokushin)
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	Santur
          </div>
        </div>
        <br>
        <h3>Honors and Awards</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	Achieving the 4th rank in the National University Entrance Exam for Master's Students in the field of Computer Science.
          </div>
      </div>
    </div>
  </div>
</div>
</div>
