<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Education</h3> <br>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">2015- 2018</div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <b> M.Sc.  in Computer Engineering - Software (CGPA: 14.15) </b> <br>
            University of Tehran, Tehran, Iran. <br>
            M.Sc. Thesis: Inferencing Location of Mobile Primary User in Cognitive Radio Networks. <br>
            Supervisor: Prof. Behnam Bahrak
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">2010- 2015</div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <b> B.Sc.  Mathematics and Applications - Computer Science (CGPA: 13.49)</b> <br>
            Amirkabir University of Technology, Tehran, Iran. <br>
            B.Sc. Thesis: Determining the number of clusters in hierarchical clustering. <br>
            Supervisor: Prof. Adel Mohammadpour
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">2006- 2010</div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <b> Diploma in Mathematics (CGPA: 16.1) </b> <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
