<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Related Courses</h3> <br>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	Advanced Database Systems (GPA: 4)
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Advanced Operating Systems (GPA: 4)
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" >
            •	Special Topics in Database Systems (GPA: 4)
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Principles of Software Design (GPA: 4)
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            •	Organizational Behavior Management (GPA: 4)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
