<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">

        <h3>Conferences and Workshops</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Securing Devices and User Data: The Internet of Things</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Mahdi Nobakht
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2018
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Deep Learning and Language Technology</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Gholamreza Hafari
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2018
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Privacy Preserving Data Analysis</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Mina Sheikh Alishahi
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2018
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >•	Big Data Management in Industry</div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            Prof. Abbas Bani Hashem
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            2017
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
